html,
body {
    margin: 0;
    padding: 0;
}

html { font-family: 'HK Grotesk', sans-serif; }
body { max-width: 100%;}

.main-header {
    background-color: #000;
    padding-bottom: 10px;
    width: 100%;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    color: white;
}

#card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.card-content {
    padding: 0 1rem;
}

.card-content h2 {
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

button {
    text-align: center;
    background-color: grey;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

#filterOptions {
    position: absolute;
    background-color: rgb(185, 185, 185);
    overflow-y: auto;
    padding: 1rem;
}